<!DOCTYPE html>
<html lang="en">
{% include 'includes/inc_menu.html' %}

<body>
    <header>
        <h1>{{ object.title }}</h1>
        <p>Дата создания: {{ object.created_at }}</p>
    </header>

    <main>
        <article>
            {% csrf_token %}
            <div class="content">
                {{ object.content|linebreaks }}
            </div>
            <img height=100 width=100 src="{{ object.image }}" >
        </article>
    </main>

    <footer>
        <p>Количество просмотров: {{ object.viewed }}</p>
    </footer>

</body>
</html>